* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Fonte moderna e legível */
}

html {
    overflow-x: hidden; /* Evita a rolagem horizontal indesejada */
}

.container {
    max-width: 1624px; /* Define a largura máxima do contêiner */
    width: 100%;
    margin: 0 auto; /* Centraliza o contêiner */
}

header {
    background-color: #192a56; /* Cor de fundo do cabeçalho */
    padding-top: 16px; /* Espaçamento superior no cabeçalho */
    color: #fff; /* Cor do texto no cabeçalho */
}

header > .container {
    display: flex;
    justify-content: space-between; /* Espaçamento entre os itens */
    align-items: center; /* Alinhamento dos itens ao centro */
    padding-bottom: 16px; /* Espaçamento inferior no contêiner do cabeçalho */
    max-width: 1624px; /* Define a largura máxima do contêiner */
    width: 100%;
    margin: 0 auto; /* Centraliza o contêiner */
}

nav {
    background-color: #575fcf; /* Cor de fundo da navegação */
    padding: 16px 0; /* Espaçamento na navegação */
    display: none; /* Inicialmente escondido */
}

nav li {
    list-style: none; /* Remove os marcadores das listas */
    display: inline; /* Exibe os itens da lista em linha */
    margin-right: 16px; /* Espaçamento à direita dos itens */
    font-size: 18px; /* Tamanho da fonte dos itens */
    font-weight: bold; /* Texto em negrito */
    text-transform: uppercase; /* Texto em maiúsculas */
}

nav li a {
    color: #fff; /* Cor dos links */
    text-decoration: none; /* Remove a sublinha dos links */
}

.menu-hamburguer {
    width: 32px; /* Largura do menu hambúrguer */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o menu */
}

.menu-hamburguer span {
    height: 2px; /* Altura das linhas do menu hambúrguer */
    width: 100%; /* Largura total do menu hambúrguer */
    background-color: #fff; /* Cor das linhas do menu hambúrguer */
    display: block;
    margin-bottom: 4px; /* Espaçamento entre as linhas do menu */
}

#sobre-a-loja {
    text-align: justify; /* Centraliza todo o conteúdo horizontalmente */
    padding: 48px 400px; /* Espaçamento interno da seção */
}

#sobre-a-loja img {
    max-width: 100%; /* Largura máxima das imagens */
    height: auto; /* Altura automática para manter a proporção */
    margin-right: 24px; /* Espaçamento à direita das imagens */
    display: inline-block; /* Garante que a imagem seja tratada como um bloco dentro do conteúdo centralizado */
}

section {
    padding: 48px 0; /* Espaçamento nas seções */
}

section h2 {
    margin-bottom: 16px; /* Espaçamento inferior nos títulos das seções */
}

.lista-veiculos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.lista-veiculos li {
    flex: 0 0 calc(25% - 10px); /* Distribui os itens em 4 colunas com margem menor */
    margin-bottom: 24px;
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.lista-veiculos li img[src$="carro-bmw.png"] {
    width: 100%; /* Ajusta a largura da imagem para ocupar 100% do espaço disponível */
    max-height: 250px; /* Define a altura máxima da imagem */
    object-fit: cover; /* Garante que a imagem mantenha sua proporção */
}

@media (max-width: 1200px) {
    .lista-veiculos li {
        flex-basis: calc(33.33% - 10px); /* Distribui os itens em 3 colunas em telas menores */
    }
}

@media (max-width: 768px) {
    .lista-veiculos li {
        flex-basis: calc(50% - 10px); /* Distribui os itens em 2 colunas em telas ainda menores */
    }
}

@media (max-width: 480px) {
    .lista-veiculos li {
        flex-basis: 100%; /* Distribui os itens em 1 coluna em telas pequenas */
    }
}

.lista-veiculos li h3 {
    margin: 16px 0; /* Espaçamento nos títulos dos itens da lista */
}

.lista-veiculos li button {
    display: block; /* Exibe o botão como bloco */
    width: 100%; /* Largura total do botão */
    padding: 8px 0; /* Espaçamento interno do botão */
    border: none; /* Remove bordas do botão */
    background-color: #119759; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    font-weight: bold; /* Texto em negrito no botão */
    font-style: italic; /* Texto em itálico no botão */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    border-radius: 6px; /* Bordas arredondadas do botão */
}

.lista-veiculos li strong {
    margin: 16px 0; /* Espaçamento nos textos em negrito */
    display: block; /* Exibe o texto em bloco */
}

.container-flex {
    display: flex;
    justify-content: center;
    max-width: 1624px; /* Define a largura máxima do contêiner */
    width: 100%;
    margin: 0 auto; /* Centraliza o contêiner */
}